<!DOCTYPE html>
<html lang="en">

<head>
<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script type="text/javascript" src="assets/js/email.js"></script>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cloud Ring Solutions</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v4.10.0
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  
  <style>
        .blink {
            animation: blinker 1.5s linear infinite;
            color: black;
            font-family: sans-serif;
        }
        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }
    </style>
</head>

<body ng-app="sendEmail">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

	<div class="logo">
            <a href="index.html"><img src="assets/img/logo3.png" class="img-fluid" alt="" data-aos="zoom-in"></a><h1>Cloud Ring Solutions</h1>
            <h7 class="blink">Experience what’s inside</h7>
	</div>
   
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#events">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Courses</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= events Section ======= -->
  <section id="events" class="events">

    <div class="events-container event-background">

       <div class="events-slider swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6 event-img">
                  <img src="assets/img/personal.png" class="img-fluid event-img" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 section-content">
                 <div class="section-title">
  			       <h2>Personalized <span>Training </span></h2>
        		 </div>
                
                  <ul>
	                <li>We conduct a regular pre-assessment test to gauge the individual's current level of knowledge 
and define clear and measurable learning objectives that are personalized to the individual's needs and 
We provide ongoing support and feedback throughout the personalized training.</li>
                  </ul>
                
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6 event-img" >
                  <img src="assets/img/ptrain.png" class="img-fluid event-img" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 section-content">
                 <div class="section-title">
  			       <h2>Project-Based <span>Training</span></h2>
        		 </div>
                  <ul>
                    <li>
                    The Project development involves learning by working on real-world projects,It is a practical and hands-on approach to learning where students are encouraged to build, design,
 and deploy their own projects interaction with IT professionals having best IT best practices and code management tools.
 The projects are designed to be challenging, with real-world problems to solve, and require creative problem-solving skills to complete, you will gain actual IT industry experience
</li>
                   </ul>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide ">
              <div class="row event-item">
                <div class="col-lg-6 event-img">
                  <img src="assets/img/collab6.png" class="img-fluid event-img" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 section-content">
                   <div class="section-title">
  			       <h2>Industry <span>Collaboration </span></h2>
        		 </div>
                  <ul>
                    <li><i class="bi bi-check-circle"></i> We involves partnering with companies and organizations to provide students with opportunities to gain real-world experience and develop their skills.</li>
                    <li><i class="bi bi-check-circle"></i> We develop curriculum that is relevant to current industry needs and trends, and ensure that students are equipped with the skills needed to succeed in the job market.</li>
                    <li><i class="bi bi-check-circle"></i> We connect with industry experts who can provide valuable insights, advice, and feedback on curriculum development, teaching methodologies, and other aspects of the educational process.</li>
                  	<li><i class="bi bi-check-circle"></i> We stay up-to-date with the latest trends and best practices in the industry, and ensure that  curriculum is aligned with current industry standards and practices.</li>
               		<li><i class="bi bi-check-circle"></i> We explore new technologies, tools, and processes to help students to stay at the forefront of innovation in their field.</li>
                  	<li><i class="bi bi-check-circle"></i> We deliver highly trained, talented and motivated students, who can bring fresh perspectives and ideas to their projects, and potentially lead to job opportunities or other career-related benefits.</li>
                  </ul>
                  </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="section-title" data-aos="fade-up">
          <h2>We Train On</h2>
        </div>
       
        <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6 animated" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-filetype-html"></i><i class="bi bi-bootstrap"></i><i class="bi bi-filetype-js"></i></div>
              <div class="icon"><i class="bi bi-filetype-java"></i><i class="bi bi-filetype-sql"></i><i class="bi bi-filetype-py"></i><i class="bi bi-github"></i>
              </div>
              <h4 class="title"><a href="#pricing" class="stretched-link">FULL-STACK DEVELOPER</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6 animated" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-filetype-html"></i><i class="bi bi-bootstrap"></i><i class="bi bi-filetype-js"></i>
              <i class="bi bi-github"></i>
              </div>
              
              <h4 class="title"><a href="#pricing" class="stretched-link">FRONT-END DEVELOPER</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6 animated" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"> <i class="bi bi-filetype-java"></i><i class="bi bi-filetype-sql"></i><i class="bi bi-filetype-py"></i>
              <i class="bi bi-github"></i></div>
              <h4 class="title"><a href="#pricing" class="stretched-link">BACK-END DEVELOPER</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6 animated" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-microsoft"></i></div>
              <h4 class="title"><a href="#pricing" class="stretched-link">Office-Tools & Tally</a></h4>
            </div>
          </div><!--End Icon Box -->
                 </div>
      </div>
    </div>
       
       
        </div>

  </section><!-- End Hero -->

  <main id="main">

    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Testimonials</h2>
      <!--    <p>Magnam dolores commodi suscipit eum quidem consectetur velit</p>-->
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                 <!-- <img src="assets/img/hero-img.png" class="testimonial-img" alt=""> -->
                  <h3>Nikhil</h3>
                  <h4>Developer @ CTS</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Best place to learn Java.  Even those who are in non-CS group can learn and will become addicted to coding because of the teaching methods.A good infrastructure with a well trained friendly professor and trained seniors. Those who are willing to learn coding for their career in software line, I recommend you to visit this institute 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                <!--  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt=""> -->
                  <h3>Sohail</h3>
                  <h4>Developer @ FreshWorks</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              		  A great place for final year students and fresh graduates to learn and understand the programming concepts and they make us well equipped enough to crack interviews and develop apps and websites on our own
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                <!--   <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt=""> -->
                  <h3>Hari</h3>
                  <h4>Developer @ Viggso</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Best place to learn java with experienced trainer. It's totally free for under privileged students. Best place to learn Java. A good infrastructure with a well trained friendly professor. Those who are willing to do their career in software line this will. Be your right place for your career  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
               <!--     <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt=""> -->
                  <h3>Mubassir</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  It is the best palce to learn Java. The teaching of the professor is excellent. He teaches with real-time example and he make sure that everyone understand the concepts clearly. I like to thank Cloud Ring Solutions for the opportunity. Cloud Ring Solutions is the best place to start your career in software development.  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Munazza</h3>
                  <h4>Developer @ TCS</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   A great place for learning java, infrastructure is really good. Staffs are friendly in nature. Completely free for poor students. Teaching is very natural with real time examples <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
      </div>     
      </div>
      </div>
    </section>
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
            <img src="assets/img/counts-img.svg" alt="" class="img-fluid">
          </div>

          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Happy Students</strong> We are eager to make more Happy faces with our smiling trainers</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Projects</strong> We offer real time projects to the students to help them gain a competitive edge in the job market</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Years of experience</strong> We have 15 years of various technology experiences</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Certificates</strong> We are certified trainers</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->
    

     
  <!-- ======= Testimonials Section ======= -->
     <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Our cources</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in-right" data-aos-delay="200">
              <h3>Full Stack Developer</h3>
              <h4><sup>₹</sup>35000<span></span></h4>
              <ul>
                <li>HTML</li>
                <li>Bootstrap</li>
                <li>Angular JS</li>
                <li>Core Java</li>
                <li>Spring Boot with JPA</li>
                <li>SQL Database</li>
                <li>Live Project</li>
                
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
              <h3>Front End Developer</h3>
               <h4><sup>₹</sup>15000<span></span></h4>
              <ul>
                <li>HTML</li>
                <li>Bootstrap</li>
                <li>Angular JS</li>
                <li>Live Project</li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box recommended" data-aos="zoom-in-left" data-aos-delay="200">
              <h3>Back End Developer</h3>
             <h4><sup>₹</sup>20000<span></span></h4>
             <ul>
                <li>Core Java</li>
                <li>Spring Boot with JPA</li>
                <li>SQL Database</li>
                <li>Live Project</li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box recommended" data-aos="zoom-in-left" data-aos-delay="200">
              <h3>Core Java Developer</h3>
             <h4><sup>₹</sup>7000<span></span></h4>
             <ul>
                <li>Core Java</li>
                <li>Live Project</li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Courses</h2>
          <p>We are best in defining courses suites best to the students </p>
        </div>

        <div class="row">
         <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="#contact" style="color:black">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <!-- <div class="icon"><img src="assets/img/client6.png" class="img-fluid"/></div> -->
              <h4 class="title">HTML</h4>
              <p class="description"></p>
               <ul>
              <li> Introduction to HTML </li>
              <li> HTML elements and tags </li>
              <li> HTML attributes and values </li>
              <li> HTML layout and semantics </li>
              <li> HTML forms and input validation </li>
              <li> HTML5 APIs and multimedia </li>
              <li> HTML5 and mobile devices </li>
              <li> HTML frameworks and tools </li>  
            </ul>
            </div></a>
          </div>
           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="#contact" style="color:black"><div class="icon-box" data-aos="fade-up" data-aos-delay="300">
             <!--  <div class="icon"><img src="assets/img/client6.png" class="img-fluid"/></div> -->
              <h4 class="title">Angular JS</h4>
              <p class="description"></p>
              <ul>
              <li> Introduction to AngularJS </li>
              <li> Building a basic AngularJS application</li>
              <li> AngularJS directives</li>
              <li> AngularJS services</li>
              <li> AngularJS routing </li>
              <li> AngularJS forms and validation </li>
              <li> AngularJS filters </li>
              <li> AngularJS advanced topics </li>  
            </ul>
            </div></a>
          </div>
          
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <a href="#contact" style="color:black"><div class="icon-box" data-aos="fade-up" data-aos-delay="100">
             <!--    <div class="icon"><img src="assets/img/client1.png" class="img-fluid"/></div>-->
              <h4 class="title">Core Java</h4>
              <p class="description"></p>
               <ul>
              <li> Introduction to Java programming </li>
              <li> Data types, variables, and operators</li>
              <li> Control flow statements</li>
              <li> Arrays and collections</li>
              <li> Methods and classes </li>
              <li> Exception handling </li>
              <li> Input/output and file handling </li>
              <li> Threads and concurrency </li>  
              <li> Generics and lambda expressions </li> 
              <li> Java libraries and frameworks </li>              
            </ul>
            </div></a>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="#contact" style="color:black"> <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
               <!--  <div class="icon"><img src="assets/img/client2.png" class="img-fluid"/></div>-->
              <h4 class="title">Spring Boot</h4>
              <p class="description"> </p>
                <ul>
              <li> Introduction to Spring Boot </li>
              <li> Building a basic Spring Boot application</li>
              <li> Spring Boot configuration</li>
              <li> Spring Boot data access</li>
              <li> Spring Boot security </li>
              <li> Spring Boot web development </li>
              <li> Spring Boot testing </li>
              <li> Spring Boot deployment and monitoring </li>  
            </ul>
            </div></a>
          </div>


          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <a href="#contact" style="color:black">
             <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
               <!--  <div class="icon"><img src="assets/img/client5.png" class="img-fluid"/></div>-->
              <h4 class="title">SQL Database</h4>
              <p class="description"></p>
              <ul>
              <li> Introduction to SQL </li>
              <li> SQL queries and statements</li>
              <li> Creating and modifying tables</li>
              <li> Data manipulation in SQL</li>
              <li> SQL functions and procedures</li>
              <li> SQL optimization and performance tuning </li>
              <li> SQL security and access control </li>
              <li> Advanced SQL topics </li>  
            </ul>
            </div></a>
          </div>

 		<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
             <a href="#contact" style="color:black">
             <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
           <!--      <div class="icon"><img src="assets/img/client7.png" class="img-fluid"/></div>-->
              <h4 class="title">BootStrap</h4>
              <p class="description"></p>
              <ul>
              <li> Introduction to Bootstrap </li>
              <li> Bootstrap grid system</li>
              <li> Bootstrap components</li>
              <li> Bootstrap CSS classes and utilities</li>
              <li> Bootstrap JavaScript plugins</li>
              <li> Bootstrap themes and customization </li>
              <li> Advanced Bootstrap topics </li>
            </ul>
            </div></a>
        </div>

      </div>
      </div>
    </section><!-- End Services Section -->

    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>Cloud Ring Solutions</h3>
              <p>You can connect with us on..</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>No 1, Thulukanatamman koil Street, Agaram, Perambur, 600082</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>admin@cloudringsolutions.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>
          </div>

          <div class="login-form col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300" ng-controller="sendEmailCtrl">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" ng-model="name" required >
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"  ng-model="email" required>
              </div>
              <div class="form-group">
                <input type="tel"  pattern="[0-9]{4}[0-9]{3}[0-9]{3}" class="form-control" name="contact" id="contact" placeholder="contact number "  ng-model="contact" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Enter Message" id="message" ng-model="message"  required></textarea>
              </div>
              <div class="my-3">
                <div class="form-group" id="EmailErrorMessageDIV=true;">
					<span class="label label-danger">{{ loginMsg }}</span>
				</div>
              </div>
              <div class="text-center"><button type="submit" ng-click="sendEmail()">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
  <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6 event-img">
                  <img src="assets/img/about1.png" class="img-fluid event-img" alt="">
                </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p  style="margin-bottom: 20px; text-align:justify">
             Cloud Ring Solutions is an educational institution that provides training and education in various computer-related fields, such as software development, programming, web development, database management, manual and automation testing and other related areas. 
             </p>
            <p  style="margin-bottom: 20px; text-align:justify">
             
             We offer various types of programs ranging from short-term certification courses to full-fledged degree programs.
</p>
<p  style="margin-bottom: 20px; text-align:justify">
            
				We play a crucial role in equipping individuals with the necessary skills and knowledge to succeed in the rapidly evolving digital world. 
</p>
<p  style="margin-bottom: 20px; text-align:justify">
            
We provide a platform for individuals to learn and develop their skills in various aspects of computer technology and help them gain a competitive edge in the job market.
</p>
<p  style="margin-bottom: 20px; text-align:justify">
            
We also offer specialized training programs for professionals who want to upgrade their skills and knowledge in a particular area of computer technology. 
</p>
<p  style="margin-bottom: 20px; text-align:justify">
            
We also provide hands-on training and practical experience, which helps students & Professionals  to apply their theoretical knowledge to real-world scenarios.
</p>

            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Cloud Ring Solutions</strong>. All Rights Reserved
          </div>
        
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
    
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
<!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>